<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #434343;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="libs/core.js"></script>
    <script type="text/javascript" src="libs/gui.js"></script>
    <script type="text/javascript" src="Start.js"></script>
</head>
<body>
    <div id="todo" style="margin: auto;width: 100%;height: 100%;" 
        class="lark-player"
        data-entry-class="Start" 
        data-scale-mode="noScale" 
        data-content-width="480" 
        data-content-height="800">
    </div>
    <script id="exml" type="text/xml">
        <e:Group left="0" right="0" top="0" bottom="0" xmlns:e="http://ns.egret-labs.org/egret">
        	<e:Image source="images/lark.png" width="64" height="64" verticalCenter="0" horizontalCenter="-64"/>
        	<e:Label text="Lark" fontSize="64" textColor="0x30CEC6" verticalCenter="0" horizontalCenter="64"/>
        </e:Group>
    </script>
</body>
</html>
