<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #434343;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="libs/core.js"></script>
    <script type="text/javascript" src="libs/gui.js"></script>
    <script type="text/javascript" src="libs/Rect.js"></script>
    <script type="text/javascript" src="libs/TextInput.js"></script>
    <script type="text/javascript" src="SkinLoader.js"></script>
    <script type="text/javascript" src="Todo.js"></script>
    <script type="text/javascript" src="Main.js"></script>
</head>
<body>
    <div id="todo" style="margin: auto;width: 100%;height: 100%;" 
        class="lark-player"
        data-entry-class="Main" 
        data-scale-mode="noScale" 
        data-content-width="480" 
        data-content-height="800">
    </div>
</body>
</html>
